@include tablet {
    
    .entrada-blog {
        display: flex;
        margin-top: 2rem;
        .imagen {
            margin-right: 2rem;
        }
    }
}

.texto-entrada {
    a {
        color: $negro;
        
    }
    h4{
        margin: 0;
        margin-top: 2rem;
        line-height: 1.4rem;

        &::after {
            content: '';
            display: block;
            width: 15rem;
            height: .5rem;
            background-color: $verde;
            margin-top: 1rem;
        }
    }
    span {
        color: $amarillo;
    }
    
}