.alerta {
  padding: 0.5rem;
  text-align: center;
  color: $blanco;
  font-weight: $bold;
  margin: 1rem 0;

  &.error {
    background-color: $rojo;
  }

  &.exito {
    background-color: $verde;
  }
}
